<section class="section"
    [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
    <h1 class="title is-1"
        [ngClass]="{ 'has-text-white': cookie.themePreference === 'dark', 'has-text-black': cookie.themePreference === 'light' }">
        Dashboard</h1>
</section>

<section class="section"
    [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
    <div class="container is-fullhd">
        <div class="box"
            [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
            <h1 class="title"
                [ngClass]="{ 'has-text-white': cookie.themePreference === 'dark', 'has-text-dark': cookie.themePreference === 'light' }">
                Controls</h1>
                <p class="has-text-white">We can put some statistics in here, maybe a donut chart of the percentage of games in each state (game only, manual only, case only, etc.)</p>
            <!-- <app-temperature-humidity [userZipCode]="(cookie$ | async).zipCodePreference"></app-temperature-humidity> -->
        </div>
    </div>
</section>

<section class="section"
    [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
    <div class="container is-fullhd">
        <div class="box"
            [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
            <h1 class="title"
                [ngClass]="{ 'has-text-white': cookie.themePreference === 'dark', 'has-text-dark': cookie.themePreference === 'light' }">
                Playstation 1</h1>
                <p class="has-text-white">We can put some statistics in here, maybe a donut chart of the percentage of games in each state (game only, manual only, case only, etc.)</p>
            <!-- <app-temperature-humidity [userZipCode]="(cookie$ | async).zipCodePreference"></app-temperature-humidity> -->
        </div>
    </div>
</section>
<section class="section"
    [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
    <div class="container is-fullhd">
        <div class="box"
            [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
            <h1 class="title"
                [ngClass]="{ 'has-text-white': cookie.themePreference === 'dark', 'has-text-dark': cookie.themePreference === 'light' }">
                Playstation 2</h1>
            <!-- <app-barometric-pressure [userZipCode]="(cookie$ | async).zipCodePreference"></app-barometric-pressure> -->
        </div>
    </div>
</section>
<section class="section"
    [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
    <div class="container is-fullhd">
        <div class="box"
            [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
            <h1 class="title"
                [ngClass]="{ 'has-text-white': cookie.themePreference === 'dark', 'has-text-dark': cookie.themePreference === 'light' }">
                Playstation 3</h1>
        </div>
    </div>
</section>
<section class="section"
    [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
    <div class="container is-fullhd">
        <div class="box"
            [ngClass]="{ 'has-background-dark': cookie.themePreference === 'dark', 'has-background-light': cookie.themePreference === 'light' }">
            <h1 class="title"
                [ngClass]="{ 'has-text-white': cookie.themePreference === 'dark', 'has-text-dark': cookie.themePreference === 'light' }">
                Playstation 4</h1>
        </div>
    </div>
</section>